* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: 'Inter', sans-serif;
  color: #fff;
}
header {
  width: 100%;
  height: 92px;
  background-color:#1A0B2E;

}

/* Navbar container */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar h1 {
  font-size: 28px;
  font-weight: 800;
  width: 219px;
    height: 32px;

}

.wave1 {
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 50%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.option ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.option ul li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
  gap: 32;
}


/* Button */
.btn1 {
  width: 135px;
height: 44px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.btn-arrow{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


/* Mobile responsive for navbar*/
@media (max-width: 576px) {
  .navbar { 
    background-image: url(./assets/hamburger-menu.png);
    background-repeat: no-repeat;
    background-position: right 20px center; 
    background-size: 24px;                 
    padding: 16px 20px;
  }
  .option {
    display: none;
  }

  .btn1 {
    display: none;
  }

  
}



/* hero section*/

.hero {
  position: relative;
  height: 760px;
  background: url('./assets/hero-bg.png') no-repeat ;
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Waves */
.wave {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}

.wave-left {
  left: 0;
}

.wave-right {
  right: 0;
}

/* Content */
.hero-content {
  text-align: center;
  z-index: 2;
  max-width: 700px;
}

/* Circle */
.hero-circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto 40px;
  border-radius: 100%;
  background: url(./assets/hero-circle.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;  
}

.mic {
  width: 80px;
}
.badge {
  position: absolute;
  top: 30px;
  right: 40px;
  background: #00ff9c;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 20px;
}
.hero-content h2 {
    width: 550px;
    height: 73px;
    font-size: 60px;
    font-weight: 600px;
    margin-bottom: 8px;

}

.hero-content p {
    opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 24px;
 
}
.hero-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.spotify-btn {
    display: flex;
    justify-content: center;
    gap:8px ;
    align-items: center;
  width: 201px;
  height: 44px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #ffff;
  cursor: pointer;

}

.subscribe-btn {
  font-weight: 600;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #00ff9c;
  background: transparent;
  color: #00ff9c;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

/*  for section hero*/
@media (max-width: 576px) {
  .hero {
    height: auto;
    width: auto;
    margin: 0 auto;
    background-position: top center;
  }
  .hero-content h2 {
    font-size: 36px;
  }
  .hero-content p{
    max-width: 320px;   
    margin: 8px auto 24px; 
    text-align: center;
    line-height: 1.6;
  }
  .badge {
  position: absolute;
  top: 30px;
  right: 0px;
 
}

  
  .hero-circle {
    width: 200px;
    height: 200px;
    margin-top: 40px ;
    background-size: contain;
  }
}

/* ABOUT SECTION */
.about {
  width: 100%;
  background: #1A0B2E;
  display: flex;
  justify-content: center;
}

.about-content {
  width: 1600px;
  padding: 50px 200px 120px;
  text-align: center;
}

.about-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.about-text {
  max-width: 900px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.85;
}

.about-subtext {
  max-width: 700px;
  margin: 0 auto 80px;
  font-size: 15px;
  opacity: 0.7;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat-item h3 {
  font-size: 40px;
  color: #00FF88;
  margin-bottom: 8px;
}

.stat-item span {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.7;
}
@media (max-width: 576px) {
  .about-content {
    width: 100%;
    padding: 40px 20px 80px;
  }

  .about-content h2 {
    font-size: 32px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .stat-item h3 {
    font-size: 32px;
  }
}


/* Why Choose TechWave */

.why {
  background: rgba(35, 14, 61, 1);
  padding: 120px 200px;
}

.why h2 {
 
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}

/* Assign areas */
.audio {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.interview {
  grid-area: interview;
}
.resources {
  grid-area: resources;
}

/* GRID */
.why-container {
  max-width: 1200px; 
  margin: 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;



  grid-template-areas:
    "audio mobile mobile mobile"
    "audio global global global"
    "interview interview interview resources";
}

/* Cards */
.card {
  background: #2b124d;
  padding: 40px;
  border-radius: 20px;
}
.card h3 {
  margin-top: 16px;   /* img → h3 gap */
}

.card p {
  margin-top: 16px;   /* h3 → p gap */
}


/* resonsive of Why Choose TechWave */

@media screen and (max-width: 576px) {
  .why {
    padding: 80px 20px;
  }
  .why h2{
    font-size: 32px;
    padding: 16px 0px;
  }

  .why-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resources";
  }
}

/* Featured Episodes Section */
.featured {
  background: rgba(26, 11, 46, 1);
  padding: 120px 200px;
  display: grid;
  gap: 40px;
  grid-template-areas:
    "title title title"
    "ep1 ep2 ep3";
}

.featured-title {
  grid-area: title;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

/*yt iframe Episodes section */
.episode {
  background-color: #250d44;
  border-radius: 20px;
  padding: 1px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px; ;
}

.ep1 { grid-area: ep1; }
.ep2 { grid-area: ep2; }
.ep3 { grid-area: ep3; }


/* iframe video */
.episode iframe {
  width: 100%;
  height: 220px;
  border-radius: 20px;
}

/* text */
.episode h3 {
  font-size: 20px;
  font-weight: 600;
}

.episode p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

.duration {
  color: #00ff88;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .featured {
    padding: 60px 20px;
    grid-template-areas:
      "title"
      "ep1"
      "ep2"
      "ep3";
  }
}


.host-section {
  background: #1A0B2E;
  padding: 60px 200px;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.host-card {
  background: #2A1240;
  border-radius: 24px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.host-image img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.host-content h3 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 12px;
}

.host-content p {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.host-socials {
  display: flex;
  gap: 8px;
}

.host-socials a {
  width: 36px;
  height: 36px;
  border: 1px solid grey;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.host-socials a img{

  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .host-section {
    gap: 16px;
    padding: 80px 20px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-content h3 {
    font-size: 24px;
  }
  .host-socials {
    justify-content: center;  
    width: 100%;            
  }

}



/* For Footer */

.footer {

   background: url(./assets/footer-bg.png) center/cover no-repeat;
  padding: 80px 16px;

}

.footer-inner {

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-logo {
  font-size: 48px;
  font-weight: 700;
 
}
.footer-links {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;

}

.footer-links a {
 display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.footer-links a img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-line {
  width: 100%;
  max-width: 1360px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-copy {
  font-size: 14px;
  color: #cccccc;
  opacity: 0.8;
}

@media (max-width: 576px) {
   .footer {
   padding: 60px 16px;
    background-position: center top;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    width: 100%;
    max-width: 320px;
  }

  .footer-links a {
    justify-content: center;
  }
}








