* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: 'Inter', sans-serif;
  color: #fff;
}
header {
  width: 100%;
  height: 92px;
  background-color:#1A0B2E;

}

/* Navbar container */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar h1 {
  font-size: 28px;
  font-weight: 800;
  width: 219px;
    height: 32px;

}

.wave {
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 50%,
    #9100F8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.option ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.option ul li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
  gap: 32;
}


/* Button */
.btn1 {
    display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.btn-arrow {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;

  font-size: 20px;
}


/* Mobile responsive for navbar*/


@media (max-width: 576px) {
  .option {
    display: none;
  }

  .btn1 {
    display: none;
  }

  .navbar {
    padding: 16px 20px;
  }
}

/* HERO SECTION */

.hero {
  position: relative;
  height: 760px;
  background: url('./assets/hero-bg.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Waves */
.wave {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}

.wave-left {
  left: 0;
}

.wave-right {
  right: 0;
}

/* Content */
.hero-content {
  text-align: center;
  z-index: 2;
  max-width: 700px;
}

/* Circle */
.hero-circle {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto 40px;
  border-radius: 100%;
  background: url(./assets/hero-circle.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mic icon */
.mic {
  width: 80px;
}

/* NEW badge */
.badge {
  position: absolute;
  top: 20px;
  right: -10px;
  background: #00ff9c;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 20px;
}

/* Text */
.hero-content h2 {
    width: 550px;
    height: 73px;
     font-size: 60px;
    font-weight: 600px;
    margin-bottom: 8px;

}

.hero-content p {
    opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 24px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.spotify-btn {
    display: flex;
    justify-content: center;
    gap:8px ;
    align-items: center;
  width: 201px;
  height: 44px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #ffff;
  cursor: pointer;

}

.subscribe-btn {
    font-weight: 600;
    font-size: 16px;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #00ff9c;
  background: transparent;
  color: #00ff9c;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

/*  for section hero*/
@media (max-width: 576px) {
  .hero {
    height: auto;
    padding: 80px 20px;
  }

  .wave {
    display: none;
  }

  .hero-content h2 {
    font-size: 36px;
  }

  .hero-circle {
    width: 200px;
    height: 200px;
  }
}

/* ABOUT SECTION */
.about {
  width: 100%;
  background: #1A0B2E;
  display: flex;
  justify-content: center;
}

.about-content {
  width: 1600px;
  padding: 50px 200px 120px;
  text-align: center;
}

/* Heading */
.about-content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* Text */
.about-text {
  max-width: 900px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.85;
}

.about-subtext {
  max-width: 700px;
  margin: 0 auto 80px;
  font-size: 15px;
  opacity: 0.7;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat-item h3 {
  font-size: 40px;
  color: #00FF88;
  margin-bottom: 8px;
}

.stat-item span {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.7;
}


